[gcode_macro PROBE_VARIABLES]
variable_probe_attached:            False
variable_probe_state:               False
variable_probe_lock:                False
variable_z_endstop_x:               0
variable_z_endstop_y:               0
gcode:


[gcode_macro HOMING_VARIABLES]
default_parameter_reset:            0
gcode:
    {% set R  = params.RESET %}

    {% if R %}
        SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }
   {% endif %}

# Attach probe and lock it
[gcode_macro Attach_Probe_Lock]
gcode:
    Attach_Probe
    SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_lock VALUE={ True }


# Dock probe and lock it
[gcode_macro Dock_Probe_Unlock]
gcode:
    SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }
    Dock_Probe

# Unlock Probe
[gcode_macro Probe_Unlock]
gcode:
    SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }

# Lock Probe
[gcode_macro Probe_Lock]
gcode:
    SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_lock VALUE={ True }
# Attach Probe Routine
[gcode_macro Attach_Probe]
gcode:
    # Get probe attach status
    {% set P = printer["gcode_macro PROBE_VARIABLES"].probe_attached %}
    {% set L = printer["gcode_macro PROBE_VARIABLES"].probe_lock %}
    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
    # Get Docking location
    {% set Dx = printer["gcode_macro KLICKY_VARIABLES"].docklocation_x %}
    {% set Dy = printer["gcode_macro KLICKY_VARIABLES"].docklocation_y %}
    {% set Dz = printer["gcode_macro KLICKY_VARIABLES"].docklocation_z %}
    {% set Da = printer["gcode_macro KLICKY_VARIABLES"].dockarmslength %}
    # Safe Z for travel
    {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}
    #Set speed
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed * 60    %}

    #prior to saving actual position, check if its necessary to move to a safe Z
    #that has enought overhead for the attached probe
    {% if (printer.toolhead.position.z < Hzh) %}
        G1 Z{Hzh} F1200
    {% endif %}
    M400 # mandatory to save the new safe position
    #allows the docking position to be independent of the Z offset, necessary for bed mounted probes
    SAVE_GCODE_STATE name=_attachProbe
    SET_GCODE_OFFSET Z=0

    # if x and y are not homed
    {% if not 'xy' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home X and Y Axis First!") }

    # If probe not attached and locked
    {% elif not P and not L %}
        {% if V %}
            { action_respond_info("Attaching Probe") }
        {% endif %}
        G90

        {% if (not 'z' in printer.toolhead.homed_axes) %}
            {% if V %}
                { action_respond_info("Resetting Z position to zero") }
            {% endif %}
            SET_KINEMATIC_POSITION Z=0
        {% endif %}

        {% if (printer.toolhead.position.z < Hzh) %}
            G1 Z{Hzh} F1200
        {% endif %}

        UMBILICAL_PATH

        # Probe entry location
        G1 X{Dx} Y{Dy|int - Da|int} Z{Hzh} F{St}
        #lower to Z dock
        G1 Z{Dz} F600
        # pickup from Probe location
        G1 X{Dx} Y{Dy} F1800
        # Probe entry location
        G1 X{Dx} Y{Dy|int - Da|int} F6000
        #Go to Z safe distance
        G1 Z{Hzh} F600
        PARK_TOOLHEAD

        CHECK_PROBE action=attach

    {% elif L %}
        {% if V %}
            { action_respond_info("Probe locked!") }
        {% endif %}

        # Probe attached, do nothing
        CHECK_PROBE action=query

    {% else %}
        {% if V %}
            { action_respond_info("Probe already attached!") }
        {% endif %}

        # Probe attached, do nothing
        CHECK_PROBE action=query

    {% endif %}
    #reverts to the original Z offset
    RESTORE_GCODE_STATE name=_attachProbe


# Dock Probe Routine
[gcode_macro Dock_Probe]
gcode:
    # Get probe attach status
    {% set P = printer["gcode_macro PROBE_VARIABLES"].probe_attached %}
    {% set L = printer["gcode_macro PROBE_VARIABLES"].probe_lock %}
    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
    # Get Docking location
    {% set Dx = printer["gcode_macro KLICKY_VARIABLES"].docklocation_x %}
    {% set Dy = printer["gcode_macro KLICKY_VARIABLES"].docklocation_y %}
    {% set Dz = printer["gcode_macro KLICKY_VARIABLES"].docklocation_z %}
    {% set Da = printer["gcode_macro KLICKY_VARIABLES"].dockarmslength %}
    # Safe Z for travel
    {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}
    # Set speed
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed * 60    %}
    {% set Sd = printer["gcode_macro KLICKY_VARIABLES"].dock_speed * 60    %}
    {% set Sr = printer["gcode_macro KLICKY_VARIABLES"].release_speed * 60    %}
    {% set Sz = printer["gcode_macro KLICKY_VARIABLES"].z_drop_speed * 60    %}

    M400 # mandatory to save the new safe position
    #allows the docking position to be independent of the Z offset, necessary for bed mounted probes
    SAVE_GCODE_STATE name=_dockProbe
    SET_GCODE_OFFSET Z=0

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home X, Y and Z Axis First!") }

    # If probe not attached and not locked
    {% elif P and not L %}
        {% if V %}
            { action_respond_info("Docking Probe") }
        {% endif %}
        G90

        {% if (printer.toolhead.position.z < Hzh) %}
            G1 Z{Hzh} F{Sz}
        {% endif %}

        UMBILICAL_PATH

        # Probe entry location
        G1 X{Dx} Y{Dy|int - Da|int} Z{Hzh} F{St}
        #lower to Z dock
        G1 Z{Dz} F{Sz}
        # Drop Probe to Probe location
        G1 X{Dx} Y{Dy} F{Sd}
        # Probe decoupling
        G1 X{Dx|int + 40} Y{Dy} F{Sr}
        #Go to Z safe distance
        G1 X{Dx|int + 40} Y{Dy|int - 5} Z{Hzh} F{St}

        PARK_TOOLHEAD

        CHECK_PROBE action=dock

    {% elif L %}
        {% if V %}
            { action_respond_info("Probe locked!") }
        {% endif %}

        # Probe docked, do nothing
        CHECK_PROBE action=query

    {% else %}
        {% if V %}
            { action_respond_info("Probe already docked!") }
        {% endif %}

        # Probe docked, do nothing
        CHECK_PROBE action=query

    {% endif %}
    #reverts to the original Z offset
    RESTORE_GCODE_STATE name=_dockProbe



# Quad Gantry Level
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing:             _QUAD_GANTRY_LEVEL
gcode:
    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
    {% if V %}
        { action_respond_info("QG Level") }
    {% endif %}

    CHECK_PROBE action=query
    Attach_Probe

    _QUAD_GANTRY_LEVEL {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
            endfor %}
    Dock_Probe


# Z Tilt Adjust
#[gcode_macro Z_TILT_ADJUST]
#rename_existing:             _Z_TILT_ADJUST
#gcode:
#    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
#    {% if V %}
#        { action_respond_info("Z Tilt Adjust") }
#    {% endif %}
#
#    CHECK_PROBE action=query
#    Attach_Probe
#
#    _Z_TILT_ADJUST {% for p in params
#          %}{'%s=%s ' % (p, params[p])}{%
#         endfor %}
#    G28 Z0
#    Dock_Probe


# Screws Tilt Adjust
#gcode_macro SCREWS_TILT_CALCULATE]
#rename_existing:             _SCREWS_TILT_CALCULATE
#gcode:
#    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
#    {% if V %}
#        { action_respond_info("Screws Tilt Adjust") }
#    {% endif %}
#
#    CHECK_PROBE action=query
#    Attach_Probe
#
#    _SCREWS_TILT_CALCULATE {% for p in params
#          %}{'%s=%s ' % (p, params[p])}{%
#         endfor %}
#
#    Dock_Probe

# Bed Mesh Calibrate
[gcode_macro BED_MESH_CALIBRATE]
rename_existing:             _BED_MESH_CALIBRATE
gcode:
    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
    {% if V %}
        { action_respond_info("Bed Mesh Calibrate") }
    {% endif %}

    CHECK_PROBE action=query
    Attach_Probe

    _BED_MESH_CALIBRATE {% for p in params
           %}{'%s=%s ' % (p, params[p])}{%
          endfor %}

    Dock_Probe


# Probe Calibrate
[gcode_macro PROBE_CALIBRATE]
rename_existing:             _PROBE_CALIBRATE
gcode:
    {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}
    {% set Sz = printer["gcode_macro KLICKY_VARIABLES"].z_drop_speed * 60 %}
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed %}

    # Go to Z safe distance before saving location in order to
    # avoid crashing the probe on the bed when coming back
    G1 Z{Hzh} F{Sz}
    M400 # mandatory to save the new safe position
    SAVE_GCODE_STATE NAME=_original_nozzle_location
    
    CHECK_PROBE action=query
    Attach_Probe

    # Restore nozzle location to probe the right place
    RESTORE_GCODE_STATE NAME=_original_nozzle_location MOVE=1 MOVE_SPEED={St}

    _PROBE_CALIBRATE {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
           endfor %}

	#store current nozzle location
	SAVE_GCODE_STATE NAME=_original_nozzle_location  
    Dock_Probe
	
    # Restore nozzle location again at the end
    RESTORE_GCODE_STATE NAME=_original_nozzle_location MOVE=1 MOVE_SPEED={St}


# Probe Accuracy
[gcode_macro PROBE_ACCURACY]
rename_existing:             _PROBE_ACCURACY
gcode:
    {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}
    {% set Sz = printer["gcode_macro KLICKY_VARIABLES"].z_drop_speed * 60 %}
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed %}

    # Go to Z safe distance before saving location in order to
    # avoid crashing the probe on the bed when coming back
    G1 Z{Hzh} F{Sz}
    M400 # mandatory to save the new safe position
    SAVE_GCODE_STATE NAME=original_nozzle_location

    CHECK_PROBE action=query
    Attach_Probe

    # Restore nozzle location to probe the right place
    RESTORE_GCODE_STATE NAME=_original_nozzle_location MOVE=1 MOVE_SPEED={St}

    _PROBE_ACCURACY {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
           endfor %}

	#store current nozzle location
	SAVE_GCODE_STATE NAME=original_nozzle_location 
	
	Dock_Probe
	
    # Restore nozzle location again at the end
    RESTORE_GCODE_STATE NAME=original_nozzle_location MOVE=1 MOVE_SPEED={St}


# enable to SET_KINEMATIC_POSITION for Z hop
[force_move]
enable_force_move: True

# Homing Override
# [homing_override]
# axes:                             xyz
# gcode:
#     # collect user state variables
#     KLICKY_VARIABLES
#     {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}
#     {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}

#     {% if (not 'z' in printer.toolhead.homed_axes) %}
#         SET_KINEMATIC_POSITION Z=0
#         G90
#         G0 Z{Hzh} F600
#     {% endif %}

#     CHECK_PROBE action=query

#     # reset parameters
#     {% set X, Y, Z = False, False, False %}

#     # which axes have been requested for homing
#     {% if not 'X' in params
#         and not 'Y' in params
#         and not 'Z' in params %}

#         {% set X, Y, Z = True, True, True %}

#     {% else %}
#         {% if 'X' in params %}
#             {% set X = True %}
#         {% endif %}

#         {% if 'Y' in params %}
#             {% set Y = True %}
#         {% endif %}

#         {% if 'Z' in params %}
#             {% set Z = True %}
#         {% endif %}

#         {% if 'X' in params
#           and 'Y' in params
#           and 'Z' in params %}
#             # reset homing state variables
#             # if homing all axes
#             HOMING_VARIABLES reset=1
#          {% endif %}

#     {% endif %}

#     # Home x
#     {% if X %}
#         {% if V %}
#             { action_respond_info("Homing X") }
#         {% endif %}
#         G28 X0
#     {% endif %}

#     # Home y
#     {% if Y %}
#         {% if V %}
#             { action_respond_info("Homing Y") }
#         {% endif %}
#         G28 Y0
#     {% endif %}

#     # Home z
#     {% if Z %}
#         {% if V %}
#             { action_respond_info("Homing Z") }
#         {% endif %}

#         # if probe is configured as endstop, attach it
#         {% if printer['configfile'].config["stepper_z"]["endstop_pin"] == 'probe:z_virtual_endstop' %}
#             Attach_Probe
#         {% endif %}

#         HOME_Z


#         # if probe is configured as endstop, dock it
#         {% if printer['configfile'].config["stepper_z"]["endstop_pin"] == 'probe:z_virtual_endstop' %}
#             Dock_Probe
#         {% endif %}
#     {% endif %}
#   CHECK_PROBE action=query

#     # park the toolhead
#     PARK_TOOLHEAD

# umbilical path setup
[gcode_macro UMBILICAL_PATH]
gcode:
    {% set Ux = printer["gcode_macro KLICKY_VARIABLES"].umbilical_x %}
    {% set Uy = printer["gcode_macro KLICKY_VARIABLES"].umbilical_y %}
    {% set U = printer["gcode_macro KLICKY_VARIABLES"].umbilical    %}
    {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed * 60    %}

    {% if U %}
        # Used to give the umbilical a better path to follow and coil properly if dock is tight in space
        G1 X{Ux} Y{Uy} Z{Hzh} F{St}
    {% endif %}


# Home Z Routine
[gcode_macro HOME_Z]
gcode:
    {% set Zx = printer["gcode_macro PROBE_VARIABLES"].z_endstop_x         %}
    {% set Zy = printer["gcode_macro PROBE_VARIABLES"].z_endstop_y         %}
    {% set Hzh = printer["gcode_macro KLICKY_VARIABLES"].home_z_height|float %}
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed * 60    %}
    {% set Sz = printer["gcode_macro KLICKY_VARIABLES"].z_drop_speed * 60    %}

    # if x and y are not homed yet, raise error
    {% if not 'xy' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home X and Y Axis First!") }

    {% else %}
        {% if (not 'z' in printer.toolhead.homed_axes) %}
            {% if V %}
                { action_respond_info("Resetting Z position to zero") }
            {% endif %}
            SET_KINEMATIC_POSITION Z=0
        {% endif %}

        # move tool to safe homing position and home Z axis
        # location of z endstop
        G1 X{Zx} Y{Zy} Z{Hzh} F{St}
        G28 Z0
        G1 Z{Hzh} F{Sz}

    {% endif %}


# check to see if probe is where it is supposed to be after
# attaching/docking maneuver and set homing error or shutdown
[gcode_macro CHECK_PROBE]
variable_probe_state:           0
default_parameter_action:
gcode:
    Query_Probe
    SET_PROBE_STATE action={ ACTION }


# due to how templates are evaluated, we have query endstops in one
# macro and call another macro to make decisions based on the result
[gcode_macro SET_PROBE_STATE]
default_parameter_action:
gcode:
    {% set P = printer.probe.last_query %}
    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}

    # If triggered (true), probe not attached
    {% if P %}
        SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_attached VALUE={ False }

    # If not triggered (false), probe attached
    {% else %}
        SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_attached VALUE={ True }
    {% endif %}

    {% if params.ACTION == 'query' %}
          SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_state VALUE={ P }
    {% endif %}

    # if probe fails to attach/detach
    # if not docked
    {% if (not P and params.ACTION == 'dock') %}
        { action_raise_error("Probe dock failed!") }
    {% endif %}

    # if not attached
    {% if P and params.ACTION == 'attach' %}
        { action_raise_error("Probe attach failed!") }
    {% endif %}

# Park Toolhead Routine
[gcode_macro PARK_TOOLHEAD]
gcode:
    {% set P = printer["gcode_macro KLICKY_VARIABLES"].PARK_TOOLHEAD %}
    {% set Px = printer["gcode_macro KLICKY_VARIABLES"].parkposition_x %}
    {% set Py = printer["gcode_macro KLICKY_VARIABLES"].parkposition_y %}
    {% set Pz = printer["gcode_macro KLICKY_VARIABLES"].parkposition_z %}
    {% set St = printer["gcode_macro KLICKY_VARIABLES"].travel_speed * 60 %}
    {% set V = printer["gcode_macro KLICKY_VARIABLES"].verbose %}

    {% if (P and 'xyz' in printer.toolhead.homed_axes) %}
        {% if V %}
            { action_respond_info("Parking Toolhead") }
        {% endif %}
        G90
        G1 X{Px} Y{Py} Z{Pz} F{St}
    {% endif %}